.card{
    height: 100%;
    width: 100%;
    min-width: 80px;
    min-height: 40px;
    max-height: 150px;

    border: 1px solid gainsboro;
    color: white;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
    font-size: 12px;

    background-color: gainsboro;
}

.outerShell{
    margin: 5px;
}

.wyklad{
    background-color: green;
}

.lab{
    background-color: rgb(139, 0, 0);
}